# logs & generated
logs/
data/generated_*.csv
*.log
*.tmp
.DS_Store
__pycache__/
condition+monitoring+of+hydraulic+systems/*.txt
simulation.log
data/*.csv
outputs/*.png
__pycache__/
condition+monitoring+of+hydraulic+systems/*.txt
simulation.log
data/*.csv
outputs/*.png
